// Colors:
$primary-color: #e7d325;
$secondary-color: #ad3737;
$secondary-color-dark: #802626;

$main-white: #fff;
$main-gray: #d9d9d9;
$main-black: #000;

$google: #db4a39;
$twitter: #1da1f2;
$facebook: #4267b2;

// Font sizes:
$fz-title: clamp(2rem, 3vw, 4rem);
$fz-subtitle: clamp(1rem, 2vw, 2rem);
